## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Ushuaia,AR,-54.8000,-68.3000,277.96,81,75,8.23,light rain,2022-07-28 03:38:00
1,1,Tuktoyaktuk,CA,69.4541,-133.0374,282.15,81,100,5.14,overcast clouds,2022-07-28 03:41:28
2,2,Bilma,NE,18.6853,12.9164,301.44,58,81,3.90,broken clouds,2022-07-28 03:41:29
3,3,Noumea,NC,-22.2763,166.4572,299.14,99,100,3.55,overcast clouds,2022-07-28 03:36:49
4,4,Hun,LY,29.1268,15.9477,297.78,44,0,2.71,clear sky,2022-07-28 03:41:30

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 270
What is the maximum temperature you would like for your trip? 300

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Ushuaia,AR,-54.8000,-68.3000,277.96,81,75,8.23,light rain,2022-07-28 03:38:00
1,1,Tuktoyaktuk,CA,69.4541,-133.0374,282.15,81,100,5.14,overcast clouds,2022-07-28 03:41:28
3,3,Noumea,NC,-22.2763,166.4572,299.14,99,100,3.55,overcast clouds,2022-07-28 03:36:49
4,4,Hun,LY,29.1268,15.9477,297.78,44,0,2.71,clear sky,2022-07-28 03:41:30
5,5,Sao Joao Da Barra,BR,-21.6403,-41.0511,293.34,85,0,4.74,clear sky,2022-07-28 03:41:31
6,6,Nikolskoye,RU,59.7035,30.7861,289.75,75,0,2.04,clear sky,2022-07-28 03:41:31
7,7,Jamestown,US,42.0970,-79.2353,295.92,74,100,3.09,overcast clouds,2022-07-28 03:39:49
9,9,Pierre,US,44.3683,-100.3510,297.62,56,20,5.66,few clouds,2022-07-28 03:41:32
10,10,Mahebourg,MU,-20.4081,57.7000,293.85,88,40,3.09,scattered clouds,2022-07-28 03:41:32
11,11,Barrow,US,71.2906,-156.7887,274.16,100,100,6.17,light rain,2022-07-28 03:41:33

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                403
City                   403
Country                400
Lat                    403
Lng                    403
Max Temp               403
Humidity               403
Cloudiness             403
Wind Speed             403
Current Description    403
Date                   403
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Ushuaia,AR,-54.8000,-68.3000,277.96,81,75,8.23,light rain,2022-07-28 03:38:00
1,1,Tuktoyaktuk,CA,69.4541,-133.0374,282.15,81,100,5.14,overcast clouds,2022-07-28 03:41:28
3,3,Noumea,NC,-22.2763,166.4572,299.14,99,100,3.55,overcast clouds,2022-07-28 03:36:49
4,4,Hun,LY,29.1268,15.9477,297.78,44,0,2.71,clear sky,2022-07-28 03:41:30
5,5,Sao Joao Da Barra,BR,-21.6403,-41.0511,293.34,85,0,4.74,clear sky,2022-07-28 03:41:31
...,...,...,...,...,...,...,...,...,...,...,...
543,543,Anadyr,RU,64.7500,177.4833,282.43,87,75,10.00,broken clouds,2022-07-28 03:56:24
544,544,Hofn,IS,64.2539,-15.2082,284.64,98,100,8.49,overcast clouds,2022-07-28 03:56:25
545,545,Marfino,RU,55.7028,37.3822,295.29,78,0,3.00,clear sky,2022-07-28 03:57:25
546,546,Roald,NO,62.5833,6.1333,283.01,93,91,2.57,overcast clouds,2022-07-28 03:57:25
547,547,Cortes,ES,41.9395,-1.4396,293.18,70,42,3.50,scattered clouds,2022-07-28 03:57:26

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ushuaia,AR,277.96,light rain,-54.8000,-68.3000,
1,Tuktoyaktuk,CA,282.15,overcast clouds,69.4541,-133.0374,
3,Noumea,NC,299.14,overcast clouds,-22.2763,166.4572,
4,Hun,LY,297.78,clear sky,29.1268,15.9477,
5,Sao Joao Da Barra,BR,293.34,clear sky,-21.6403,-41.0511,
6,Nikolskoye,RU,289.75,clear sky,59.7035,30.7861,
7,Jamestown,US,295.92,overcast clouds,42.0970,-79.2353,
9,Pierre,US,297.62,few clouds,44.3683,-100.3510,
10,Mahebourg,MU,293.85,scattered clouds,-20.4081,57.7000,
11,Barrow,US,274.16,light rain,71.2906,-156.7887,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.try:
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ushuaia,AR,277.96,light rain,-54.8000,-68.3000,Albatross Hotel
1,Tuktoyaktuk,CA,282.15,overcast clouds,69.4541,-133.0374,End of The Road Ltd.
3,Noumea,NC,299.14,overcast clouds,-22.2763,166.4572,Hôtel Le Lagon
4,Hun,LY,297.78,clear sky,29.1268,15.9477,Alrwasi Hotel
5,Sao Joao Da Barra,BR,293.34,clear sky,-21.6403,-41.0511,Pousada Porto De Canoas

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Assign the figure variable.
fig = gmaps.figure()

# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))